.arrow-icon {
    height: 2em;
}

.slideshow-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slideshow {
    display: grid;
    grid-template-columns: repeat(4,100%);
    width: 100%;
    height: 100%;
    
    position: relative;
    transform: translateX(0%);
    transition: transform 0.5s;
}

.slide {
    max-width: 100%;
    overflow: scroll;
}

.slide-label {
    font-style: italic;
}

.big-map {
    height: 20em !important;
}

.feature-title {
    font-size: small;
    position: relative;
    top: 3em;
    z-index: 3;
}

.graph {
    min-height: 80%;
    width: 100%;
}

table {
    border-collapse: collapse;
    font-size: xx-small;
}

td {
    border: 1px solid black;
}

p {
    font-size: 0.9em;
}