.labeled-input-container {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 10px;
    text-align: left;
}

.labeled-input-container > * {
    height: 2.5em;
}

.labeled-input-container > textarea {
    width: 94% !important;
    min-height: 2.5em !important;
}

textarea {
    width: 100%;
    height: 10em;
}

.button {
    margin-bottom: 0.5em;
}