
.slideshow-container {
    overflow: hidden;
    height: unset;
    width: 100%;
}

.slideshow {
    display: grid;
    column-gap: 0;
    grid-template-columns: repeat(5,100%);
    width: 100%;
    height: 100%;
    
    position: relative;
    transform: translateX(0%);
    transition: transform 0.5s;
}

.slide {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.big-map {
    height: 20em !important;
}

.feature-title {
    font-size: small;
    position: relative;
    top: 3em;
    z-index: 3;
}

.graph {
    min-height: 80%;
    width: 100%;
}

.slide:has(.tracker-container) {
    display: flex;
    align-items: center;
}

.tracker-container .slide {
    margin: auto;
}

.tracker-container {
    width: 100%;
}

.slide-label {
    font-style: normal;
    height: fit-content;
}

.progress-container {
    width: 50%;
    margin: auto auto 2em auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--very-light-gray);
}

#progressBar {
    width: 20%;
    height: 1em;
    background-color: var(--light-pink);
    transition: width 0.5s;
}